#img1{
    margin-left: 300px;
    margin-top: -250px;
}
#card1{
    margin-left: 460px;
    margin-top: -380px;
}
#card2{
    margin-left: 760px;
    margin-top: -200px;
}
#card3{
    margin-left: 460px;
    margin-top: 50px;
}
#card4{
    margin-left: 760px;
    margin-top: -200px;
}
#box1{
    height: 70px;
    width: 50px;
    background-color: blue;
    transform: rotate(45deg);
    margin-top: 50px;
    margin-left: -20px;
}
#box2{
    height: 70px;
    width: 50px;
    background-color:red;
    transform: rotate(45deg);
    margin-top: 10px;
}
#box3{
    height: 200px;
    width: 50px;
    background-color: whitesmoke;
    transform: rotate(45deg);
    margin-left: 100px;
    margin-top: -300px;
}
#card01{
    margin-left: 250px;
}
#card02{
    margin-right: 180px;
    float: right;
    margin-top: -220px;
}
#card03{
    margin-right: 140px;
    float: right;
    margin-top: -220px;
}
#card04{
    margin-left:250px ;
    margin-top: 50px;
}
#card05{
    margin-right:180px ;
    float: right;
    margin-top: -200px;
}
#card06{
    margin-right: 100px;
    float: right;
    margin-top: -200px;
}
#box01{
    width: 100px;
    height: 600px;
    background-color: blue;
    float: right;
    margin-left:780px;
    margin-top: -550px;
}

#box02{
    width: 50px;
    height: 400px;
    background-color: blue;
    transform: rotate(90deg);
    margin-top: -165px;
}
#box03{
    width: 50px;
    height: 500px;
    background-color: blue;
    transform: rotate(90deg);
    margin-top: 60px;
}
#box04{
    width: 50px;
    height: 500px;
    background-color: blue;
    transform: rotate(90deg);
    margin-top: -235px;

   
}
#p1{
 margin-left: 680px;
 margin-top: -330px;  
}
#p2{
    margin-left: 680px;
    margin-top: -10px;
}
#b1{
    margin-left: 680px;
    margin-top: -5px;
}
#img01{
    float: right;
}
#p01{
    margin-left:680px ;
    margin-top:-300px ;
}
#p02{
    margin-left: 680px;
    margin-top: ;
}
.container21{
    text-align: center;
    margin-top: 150px;
}
#nishu{
    width: 350px;
    height: 150px;
    margin-left: 50px;
}
#nishu1{
    width: 350px;
    height: 150px;

}
#nishu2{
    width: 350px;
    height: 150px;
    
}
#nishu3{
    width: 350px;
    height: 150px;
    margin-left: 50px;
    margin-top: 90px;

}
#nishu4{
    width: 350px;
    height: 150px; 
    margin-top: 90px;

}
#nishu5{
    width: 350px;
    height: 150px;
    margin-top: 90px;
}
#nishu6{
    width: 350px;
    height: 150px;
    margin-left: 50px;
    margin-top: 90px;
}
#nishu7{
    width: 350px;
    height: 150px;
    margin-top: 90px;
}
#con{
    text-align: right;
    color:brown;
}
#Wa{
   text-align: center;
}
#En{
  margin-left: 250px;
  margin-top: -50PX;
}
#na_id{
    margin-left: 450px;
    margin-top: -350px;

}
#em_id{
    margin-left: 250px;
}
#tex_id{
    margin-left: 250px;
}
#btl{
    margin-left: 250px;
    
        
}
#pl{
     margin-left: 150px;
}
#pho_id{
    margin-left: 450px;
    margin-top: -150px;
}
.container012{
    text-align: center;
    background-color: aqua;
}
.container0123{
    width: auto;
    height: 200px;
    background-color: black;
}
